<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book-detail</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    </head>
    <body>
        <div class="container">
            <div>
                <h2 >{{ object.title }}</h2>
                <div class="img">
                    <img src="{{ book.image.url }}" alt="">
                </div>
                <p>Автор: {{ object.author }}</p>
                <p>genre: {{ object.genre }}</p>
                <span class="date">Дата добавление: {{ object.create_date }} |</span>
                <span class="date">Дата обновление: {{ object.update_date }}</span>
                <p>{{ book.description }}</p>
                <a href="/add-book/">Add new book</a>
                <a href="/books/{{ object.id }}/update/">update {{ object.title }}</a>
                <a href="/books/{{ object.id }}/delete/">delete {{ object.title }}</a>
            </div>
            <div>
                <h3>Review: </h3>
                <ul>
                    {% for i in book.Book_feed_back.all %}
                        <li>
                            <p>{{ i.text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>