<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>books</title>
      <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
  </head>
  <body>
    <div class="container book__container">
        <div>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/">books all</a></button>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/fantastic">Fantastic</a></button>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/literature">Literature</a></button>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/autobiography">Autobiography</a></button>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/manga">Manga</a></button>
            <button type="button" class="btn btn-secondary shows__button"><a href="/books/detective">Detective</a></button>
        </div>
        <div class="row gy-5">
            {% for book in object_list %}
            <div class="col-3">
                <div class="card">
                    <img src="{{ book.image.url }}" class="card-img-top book__img" alt="...">
                    <div class="card-body books__cardbody">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">{{ book.author }}</p>
                      <a href="{{ book.id }}/" class="btn btn-primary">Go details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/add-book/">Add new book</a>
    </div>
  </body>
</html>